.btn button {
  background-color: #f4511e;
  border: none;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

form {
  display: none;
}

.cards {
  display: flex;
  margin-top: 200px;
}

.card {
  width: 200px;
  background-color: cadetblue;
  height: 440px;
  border-radius: 8px;
  margin-right: 30px;
  text-align: center;
}

.card img {
  width: 200px;
  border-radius: 10px;
}

.card .book-detail {
  margin-left: 20px;
}

.card .book-detail button {
  border-radius: 30px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  padding: 10px 30px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
